page-dine-enkeltvarer {

  #vare-navn{
    color: #222222;

  }
  #vare-pris{
    color: #8c8c8c;
    margin-left: 0px;
  }
  .md-close{
    color: #f53d3d;
  }

  #button-antall{
   background-color: white;
  }
  #antall-txt{
    color: #8c8c8c;
  }
  #endre-txt{
    color: #8255C3;
  }

  #sum-pris-div{
    width: 100%;
    height: 10%;
    background-color: #8c8c8c;

    #sum-pris-txt{
      color: #222222;
    }
  }

}
